<!doctype html>
<html>
  <head>
    <title>Taskr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Edit Task</h1>
      <form action="/update/{{index}}/" method="post">
        <input type="text" name="name" value="{{ task['name']}}" required>
        <input type="date" name="date" value="{{ task['date']}}" required>
        <button type="submit">Update</button>
      </form>
      <a href="/">
        <button>Back</button>
      </a>
    </div>
  </body>
</html>
